.container {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.input {
  margin-bottom: 1rem;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 0 1rem;
  font-size: 15px;
}
