.button {
    background-color: #EE490E;
    color: white;
    width: 180px;
    height: 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    justify-self: center;
}