.button {
  background-color: #ee490e;
  color: white;
  height: 40px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  padding: 0 1rem;
  cursor: pointer;
  justify-self: center;
  min-width: 10rem;

  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}

.loader {
  width: 22px;
  height: 22px;
  border: 3px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  margin: 0;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

