.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #0c4f0e;
    border-radius: 10px;
    cursor: pointer;
}