.timer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #EE490E;
    line-height: 80px;
    text-align: center;
    color: white;
    font-size: 2rem;
    position: absolute;
    right: 0;
}

@media (max-width: 440px) {
    .timer {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.5rem;
    }
}