.timer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #EE490E;
    line-height: 80px;
    text-align: center;
    color: white;
    font-size: 2rem;
    position: absolute;
    right: 0;
}