/* Boilerplate Rules */
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

/* Custom Rules */

.bg-color {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='3000' height='1500' preserveAspectRatio='none' viewBox='0 0 3000 1500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1020%26quot%3b)' fill='none'%3e%3crect width='3000' height='1500' x='0' y='0' fill='rgba(66%2c 65%2c 165%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c1092.101C209.553%2c1086.832%2c440.172%2c1065.638%2c591.881%2c920.985C738.626%2c781.065%2c679.004%2c532.57%2c774.444%2c353.677C879.689%2c156.407%2c1183.737%2c54.658%2c1173.225%2c-168.684C1162.96%2c-386.766%2c890.076%2c-484.517%2c728.101%2c-630.903C587.107%2c-758.327%2c463.054%2c-904.327%2c285.186%2c-971.255C98.685%2c-1041.431%2c-112.981%2c-1089.495%2c-298.696%2c-1017.265C-480.509%2c-946.553%2c-554.169%2c-738.249%2c-685.293%2c-593.81C-820.355%2c-445.033%2c-1035.742%2c-351.193%2c-1081.08%2c-155.436C-1126.964%2c42.68%2c-999.603%2c233.022%2c-920.144%2c420.216C-838.482%2c612.599%2c-780.112%2c827.99%2c-611.324%2c951.239C-438.95%2c1077.106%2c-213.37%2c1097.466%2c0%2c1092.101' fill='%23353484'%3e%3c/path%3e%3cpath d='M3000 2658.605C3210.359 2622.044 3370.479 2471.321 3547.721 2352.27 3721.01 2235.874 3951.4139999999998 2163.587 4026.7929999999997 1968.921 4101.779 1775.271 3950.319 1572.973 3929.487 1366.3600000000001 3907.385 1147.158 3998.0190000000002 917.151 3900.811 719.443 3792.933 500.03499999999997 3605.785 304.63599999999997 3372.1059999999998 232.7249999999999 3137.607 160.56099999999992 2886.489 246.35300000000007 2658.559 337.1579999999999 2446.034 421.826 2251.056 549.269 2115.315 733.416 1985.635 909.341 1925.266 1125.811 1916.251 1344.18 1907.812 1548.582 2002.683 1732.005 2066.059 1926.517 2138.428 2148.63 2130.686 2422.483 2314.5389999999998 2566.599 2499.727 2711.7619999999997 2768.173 2698.897 3000 2658.605' fill='%235857bd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1020'%3e%3crect width='3000' height='1500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}