/* Boilerplate Rules */
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

/* Custom Rules */

.bg-color {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='1000' preserveAspectRatio='none' viewBox='0 0 2000 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3crect width='2000' height='1000' x='0' y='0' fill='rgba(66%2c 65%2c 165%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c961.86C175.77%2c982.083%2c292.788%2c782.786%2c439.777%2c684.306C583.356%2c588.111%2c770.548%2c541.376%2c853.723%2c389.882C938.564%2c235.354%2c918.45%2c45.858%2c885.373%2c-127.297C853.37%2c-294.832%2c772.953%2c-444.426%2c668.579%2c-579.327C559.277%2c-720.597%2c448.147%2c-901.702%2c270.664%2c-921.796C91.716%2c-942.056%2c-27.973%2c-734.123%2c-198.946%2c-677.546C-361.013%2c-623.916%2c-579.29%2c-727.732%2c-695.019%2c-602.238C-810.045%2c-477.507%2c-737.526%2c-273.942%2c-727.336%2c-104.575C-719.028%2c33.517%2c-703.149%2c169.132%2c-641.168%2c292.812C-580.773%2c413.327%2c-472.488%2c492.752%2c-379.219%2c590.077C-254.205%2c720.527%2c-179.497%2c941.208%2c0%2c961.86' fill='%23353484'%3e%3c/path%3e%3cpath d='M2000 1812.088C2155.874 1816.309 2306.478 1765.1399999999999 2440.445 1685.345 2577.725 1603.577 2707.656 1498.815 2771.716 1352.431 2835.331 1207.064 2821.661 1041.906 2790.077 886.404 2759.811 737.39 2692.865 600.798 2595.3540000000003 484.12300000000005 2496.544 365.894 2380.378 250.37699999999995 2230.095 216.36699999999996 2082.996 183.077 1930.912 236.94799999999998 1795.365 303.07899999999995 1674.51 362.04200000000003 1582.1970000000001 460.86199999999997 1504.298 570.472 1432.202 671.9169999999999 1406.73 791.461 1364.958 908.6949999999999 1311.6770000000001 1058.231 1182.603 1200.921 1225.173 1353.8519999999999 1267.675 1506.538 1438.203 1581.221 1574.622 1661.9 1706.7269999999999 1740.028 1846.577 1807.934 2000 1812.088' fill='%235857bd'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='2000' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");    background-size: auto;
}
