.game-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
}

.title {
  color: #f7b911;
  font-size: 80px;
  grid-column-start: span 2;
  justify-self: center;
  margin: 0;
  line-height: 60px;
}

.description {
  color: white;
  font-size: 25px;
  grid-column-start: span 2;
  justify-self: center;
  margin: 0;
  margin-top: 1rem;
}

.button-wrapper {
  grid-column-start: span 2;
  justify-self: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4rem;
}

@media (max-width: 460px) {
  .game-wrapper {
    top: 50%;
    right: 50%;
    height: auto;
  }
  
  .title {
    text-align: center;
    font-size: 60px;
  }

  .description {
    text-align: center;
    font-size: 20px;
  }
}
