.gamewrapper {
    background-color: #073B4C;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 20%;
    row-gap: 2rem;
}

.title {
    color: white;
    font-size: 60px;
    grid-column-start: span 2;
    justify-self: center;
}

.description {
    color: white;
    font-size: 20px;
    grid-column-start: span 2;
    justify-self: center;
}

.rules {
    color: white;
    grid-column-start: span 2;
    width: 60%;
    border: 3px solid white;
    border-radius: 10px;
    justify-self: center;
}
