.voting-wrapper {
    display: grid;
    max-width: 1000px;
    height: fit-content;
    row-gap: 6rem;
}

.title {
    color: #f7b911;
    font-size: 80px;
    margin: 0;
    line-height: 80px;
    justify-self: center;
}

.question {
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin: 0;
}

.sub-header {
    color: #f7b911;
    font-size: 1.3em;
    margin: 1rem;
}

.answers-wrapper { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
}

@media (max-width: 440px) {
    .title {
        font-size: 50px;
        line-height: 50px;
    }

    .voting-wrapper {
        row-gap: 1rem;
    }

    .question {
        font-size: 20px;
        text-align: center;
    }

    .sub-header {
        font-size: 1em;
    }

    .answers-wrapper {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
}