.scoreboard-wrapper {
    display: grid;
    max-width: 1000px;
    row-gap: 3rem;
}

.scorecard-results-wrapper {
    display: grid;
    justify-items: center;
    row-gap: 0.5rem;
    position: relative;
}

.title {
    color: #f7b911;
    font-size: 80px;
    margin: 0;
    line-height: 80px;
    justify-self: center;
}

.play-again-button {
    justify-self: center;
}

.img {
    width: 140px;
    height: 140px;
    position: absolute;
    left: -2rem;
    top: -2rem;
    rotate: -30deg;
}

@media (max-width: 440px) {
    .title {
        font-size: 60px;
        line-height: 60px;
        text-align: center;
    }

    .scorecard-results-wrapper {
        row-gap: 0;
    }

    .img {
        width: 80px;
        height: 80px;
        left: 0.5rem;
        top: -1rem;
    }
}