.lobby-wrapper {
  display: grid;
  row-gap: 5rem;
  width: 80%;
}

.title {
  color: #f7b911;
  font-size: 80px;
  margin: 0;
  line-height: 80px;
  justify-self: center;
}

.game-code-wrapper {
  display: flex;
  justify-self: center;
}

.game-code-text {
  color: white;
  font-size: 25px;
  margin: 0;
  margin-right: 1rem;
  align-self: center;
  width: 5rem;
  text-align: center;
}

.game-code-number {
  width: 250px;
  background-color: #ee490e;
  border-radius: 10px;
  color: white;
  font-size: 50px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  position: relative;
}

.tooltip {
  background-color: black;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  color: #ee490e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  position: absolute;
  top: -2.5rem;
  left: 50px;
}

.description {
  color: white;
  font-size: 25px;
  margin: 0;
  justify-self: center;
}

.players-header {
  color: #f7b911;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0;
}

.players-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  row-gap: 2rem;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  justify-self: center;
}

.player-icon {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: rgb(244, 241, 241);

  img {
    height: 100%;
    width: 100%;
  }
}

.player-name-wrapper {
  background-color: black;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  color: #ee490e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 1rem;
}


@media (max-width: 460px) {  
  .lobby-wrapper {
    row-gap: 3rem;
  }
  
  .title {
    text-align: center;
    font-size: 60px;
  }

  .game-code-text {
    font-size: 20px;
    width: 3rem;
  }

  .game-code-number {
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    width: 12rem;
  }

  .players-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(140px, 140px));
    width: 100%;
    row-gap: 1.5rem;
  }

  .player-icon {
    height: 80px;
    width: 80px;
  }

  .player-name-wrapper {
    height: 20px;
    width: 100px;
    font-size: 1rem;
  }

  
}

